@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand');
*{
	font-family: 'Poppins';

}

.caja{
	background: #6A38F8;
	padding: 5px;
	margin-bottom: 15px;
	width: 35px;
	text-align: center;
}

article{
	background: #18BE20;
	box-sizing: border-box;
	width: 500px;
	padding: 5px;
	margin-bottom: 15px;
}
div{
	background: #F0E91F;
	display: inline-block;
	padding:5px;
	padding-bottom: 25px;
	width: 150px;
	/*margin-bottom: 15px;*/
	/*font-weight: bold;*/
}
/*div:nth-last-child(1){
	background: #FA9C15;
}*/
#ultimo{
	background: #33FA4F;
	display: block;
}
[data-id="1"]{

}

[data-id="2"]{
	background: #EE1140;
	/*border: 1px solid #000;*/
	/*padding-right: 15px;*/
}

[data-id="3"]{
	text-transform: uppercase;

}